{% extends 'layout.html' %}
{% block body %}
<header>
    <nav>
    </nav>
    <main>
        <form action="/register" methods="POST">
            <a href="/">Inicio</a>            
            <h1>Login</h1>
            <input type="text" name="email" placeholder="Escribe tu email">
            <input type="text" name="password" placeholder="Escribe tu nombre">
            <p>No tienes cuenta?<a href="/register">Registrase</a></p>
            <button type="submit">enviar</button>
        </form>
    </main>
</header>

{% endblock %}