{% extends 'layout.html' %}
{% block body %}
<header>
    <nav>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <main>
        <form action="/login" method="POST">
            <a href="/">Inicio</a>            
            <h1>Login</h1>
            <input type="email" name="email" placeholder="Escribe tu email">
            <input type="password" name="password" placeholder="Escribe tu contraseña">
            <p>No tienes cuenta?<a href="/register">Registrase</a></p>
            <button type="submit">enviar</button>
        </form>
    </main>
</header>

{% endblock %}